body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.emphasis, .strong{
  font-weight: 600;
  // color: #;
}
a{
  text-decoration: none !important;
}

.outstanding_title{
  font-size: 4em;
}
.emphasis_django{
  color: #EDC244;
}