.testimonials {
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  .testimonial-item {
    max-width: 18rem;
    img {
      max-width: 12rem;
      box-shadow: 0px 5px 5px 0px $gray-500;
    }
  }

}

.testimonial-item {
  // max-width: 17rem;
  padding: 0px !important;
  img {
    max-width: 17rem;
    box-shadow: 0px 5px 5px $gray-500;
  }
}